node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
jspm_packages/
.env
.env.*.local
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.npm/
.eslintcache
.stylelintcache
.node_repl_history
coverage/
.bfg-report.txt
*.bak
*.old

node_modules/
node_modules/
.next/
node_modules/
node_modules/
